body {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  letter-spacing: $primary-letter-spacing;
  color: $primary-text-color;
  background-color: $primary-white-color;

  @media screen and (min-width: 0) and (max-width: 479px) {
    overflow-x: hidden;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.container--flex-header {
  display: flex;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;

    align-items: center;
    justify-content: center;
  }
}

.container--flex-footer {
  @media screen and (min-width: 320px) {
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.section {
  padding-top: $patternSectionPadding;
  padding-bottom: $patternSectionPadding;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section__title {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.section__title--hide {
  display: none;
}

input {
  outline: none;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  display: flex;

  padding: 0;

  border: none;
}

a {
  text-decoration: none;
}
