/* Особенности*/

.features-list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.features-list__item {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: block;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline-block;
    margin: 15px;

    width: calc((100% - 65px) / 2);
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;

    width: 270px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.features-list__container {
  display: flex;

  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: #f5f4fa;
}

.features-list__icon--features1,
.features-list__icon--features2 {
  width: 65px;
  height: 70px;

  fill: #212121;
  transition: fill $patternTime $patternCubicBuzier;
  cursor: pointer;

  &:hover {
    fill: $primery-accent-color;
  }
}

.features-list__icon--features3,
.features-list__icon--features4 {
  width: 70px;
  height: 70px;

  fill: #212121;
  transition: fill $patternTime $patternCubicBuzier;
  cursor: pointer;

  &:hover {
    fill: $primery-accent-color;
  }
}

.features-list__title {
  margin-bottom: 10px;

  font-weight: bold;
  text-transform: uppercase;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    text-align: center;
  }
}

.features-list__text {
  line-height: 1.7;

  color: #757575;
}
