/* Шапка */
.header {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  align-items: center;

  border-bottom: 1px solid #ececec;
  @media screen and (min-width: 480px) {
    height: 60px;
    position: relative;
  }
  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;

  color: $primary-text-color;

  transition: color $patternTime $patternCubicBuzier;
  &:hover,
  &:focus {
    color: $primery-accent-color;
  }

  @media screen and (min-width: 480px) and (max-width: 1599px) {
    font-size: 24px;
  }
  @media screen and (min-width: 1600px) {
    margin-right: 90px;
    font-size: 26px;
  }
}

.logo--blueColor {
  margin: 0px;
  color: $primery-accent-color;
}

.nav-list {
  display: flex;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: flex;
    margin-bottom: 300px;

    flex-direction: column;
    align-items: flex-start;
  }
}

.nav-list__item {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  @media screen and(min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.nav-list__link--current {
  @media screen and(min-width: 768px) {
    &::after {
      content: "";
      position: absolute;
      top: 115%;
      right: 0%;

      width: 100%;
      height: 4px;

      background-color: $primery-accent-color;
      border-radius: 2px;

      transition: background-color $patternTime $patternCubicBuzier;
    }
    text-decoration: none;
  }
}
.nav-list__link {
  font-weight: 500;
  color: $primary-text-color;

  transition: color $patternTime $patternCubicBuzier;
  &:focus,
  &:hover {
    color: $primery-accent-color;
  }
  &.nav-list__link--current {
    position: relative;
    font-weight: 500;
    color: $primery-accent-color;
  }

  @media screen and(min-width: 480px) {
    font-size: 40px;
    letter-spacing: 0.02em;
  }
  @media screen and(min-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.auth-list {
  display: flex;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  @media screen and (min-width: 768px) {
    flex-direction: column;
  }
  @media screen and (min-width: 1600px) {
    margin-left: auto;

    flex-direction: row;
  }
}

.auth-list__item {
  display: flex;
  align-items: center;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    &:last-child {
      margin-bottom: 35px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1599px) {
    margin-right: 0px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1600px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.auth-list__link {
  font-weight: 500;
  color: #757575;

  transition: color $patternTime $patternCubicBuzier;
  &:focus,
  &:hover {
    color: $primery-accent-color;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: block;

    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    .auth-list__item:last-child & {
      font-size: 34px;
      letter-spacing: 0.02em;
      color: $primery-accent-color;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }
  @media screen and (min-width: 1600px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.auth-list__icon--mailLocation {
  margin-right: 10px;

  width: 16px;
  height: 12px;

  transition: fill $patternTime $patternCubicBuzier;

  @media screen and(min-width:480px) and (max-width: 767px) {
    display: none;
  }
}

.auth-list__icon--phoneLocation {
  margin-right: 10px;

  width: 10px;
  height: 16px;
  transition: fill $patternTime $patternCubicBuzier;

  @media screen and(min-width:480px) and (max-width: 767px) {
    display: none;
  }
}

.auth-list__icon {
  fill: $primary-icon-color;

  transition: fill $patternTime $patternCubicBuzier;
  .auth-list__link:hover &,
  .auth-list__link:focus & {
    fill: $primery-accent-color;

    @media screen and(min-width:480px) and (max-width: 767px) {
      display: none;
    }
  }
}

.button-menu {
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.button-menu__icon--menu {
  .button-menu__is-open & {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.button-menu__icon--close {
  display: none;
  .button-menu__is-open & {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
