/* Our Team */
.section--silverBackground {
  background-color: #f5f4fa;
}

.team-list {
  @media screen and (min-width: 480px) {
    display: block;
  }
  @media screen and (min-width: 768px) and(max-width: 1599px) {
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.team-list__item {
  background-color: #ffffff;
  box-shadow: $box-shadow;
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 480px) and (max-width: 787px) {
    display: block;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1599px) {
    display: inline-block;
    margin: 15px;

    width: calc((100% - 64px) / 2);
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
// team-list
.team-list__box {
  padding-top: 30px;

  @media screen and (min-width: 480px) and (max-width: 1599px) {
    padding-bottom: 25px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.team-list__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.team-list__text {
  margin-bottom: 16px;

  font-size: 16px;
  color: #757575;
  text-align: center;
}

.team-list__box--social {
  padding-top: 0px;
  padding-bottom: 0px;
}
// Social-Box

.social-list {
  @media screen and(min-width: 480px) {
    display: flex;
    justify-content: center;
  }
  .social-container & {
    @media screen and(min-width: 1200px) {
    }
    justify-content: flex-start;
  }
  .menu-mobile & {
    @media screen and(min-width: 480px) and (max-width: 767px) {
      justify-content: flex-start;
    }
    @media screen and(min-width: 768px) {
      display: none;
    }
  }
}
.social-list__item {
  &:not(:last-child) {
    margin-right: 5px;
  }

  .menu-mobile .social-list &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list__link {
  @media screen and(min-width: 480px) {
    display: flex;

    padding: 12px;

    background-color: #ffffff;
    border-radius: 50%;
  }
  .menu-mobile & {
    @media screen and (min-width: 480px) {
      padding: 0px;

      font-size: 18px;
      letter-spacing: 00.02em;
      color: $primery-accent-color;

      background-color: transparent;
      border-radius: 0px;
    }
  }

  transition: background-color $patternTime $patternCubicBuzier;
  cursor: pointer;
  &:hover,
  &:focus {
    border-radius: 50%;

    background-color: $primery-accent-color;
  }
}

.social-list__span {
  margin-left: 10px;

  color: #757575;
}

svg {
  .social-list__link > & {
    width: 20px;
    height: 20px;

    fill: $primary-icon-color;
    transition: fill $patternTime $patternCubicBuzier;
  }
  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: #ffffff;
  }
}
