/* Our Clients */
.сlients-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 480px) and (max-width: 1599px) {
    margin: -15px;
  }
  @media screen and (min-width: 1600px) {
  }
}

.сlients-list__item {
  display: flex;
  @media screen and (min-width: 480px) and (max-width: 1599px) {
    margin: 15px;

    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 768px) and (max-width: 1599px) {
    width: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1600px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.сlients-list__link {
  border: 1px solid $primary-icon-color;
  border-radius: 4px;
  transition: border-color $patternTime $patternCubicBuzier;
  cursor: pointer;

  @media screen and (min-width: 480px) {
    padding: 15px 51px;
  }
  @media screen and (min-width: 768px) {
    padding: 15px 60px;
  }
  @media screen and (min-width: 1600px) {
    padding: 15px 31px;
  }

  &:hover,
  &:focus {
    border-color: $primery-accent-color;
  }
}

svg {
  .сlients-list__link > & {
    width: 106px;
    height: 60px;

    fill: $primary-icon-color;
    transition: fill $patternTime $patternCubicBuzier;

    // @media screen and (min-width: 480px) {
    //   margin: 16px 52px;
    // }
    // @media screen and (min-width: 768px) {
    //   margin: 16px 58px;
    // }
  }
  .сlients-list__link:hover &,
  .сlients-list__link:focus & {
    fill: $primery-accent-color;
  }
}
