// :root {
//     --primary-text-color: #212121;
//     --secondary-text-color: #757575;
//     --white-text-color: #ffffff;
//     --footer-text-color: rgba(255, 255, 255, 0.6);
//     --accent-color: #18a0fb;
//     --primary-white-color: #ffffff;
//   + --primary-background-color: #ffffff;
//     --secondary-background-color: #2f303a;
//     --third-background-color: #f5f4fa;
//     --fourth-background-color: #c4c4c4;
//     --first-icon-color: #afb1b8;
//     --second-icon-color: #212121;
//     --third-icon-color: #ffffff;
//     --fourth-icon-color: #757575;
//   + --background-opacity-color: rgba(0, 0, 0, 0.2);
//   + --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//   }
$primary-text-color: #212121;
$primery-accent-color: #18a0fb;
$primary-white-color: #ffffff;
$primary-icon-color: #afb1b8;
$primary-background-color: #ffffff;
$box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$box-shadow-button: 0px 4px 4px rgba(0, 0, 0, 0.15);

$patternSectionPadding: 94px;

$patternTime: 250ms;
$patternCubicBuzier: cubic-bezier(0.4, 0, 0.2, 1);

$primary-font-family: Roboto;
$primary-font-size: 14px;
$primary-line-height: 1.2;
$primary-letter-spacing: 0.03em;
